.button {
  cursor: pointer;
  position: relative;
}
.button::before {
  content: "";
  background-color: var(--color-button-overlay);
  inset: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s;
}
.button:hover::before,
.button:focus-visible::before {
  opacity: 16%;
}
.button:active::before {
  opacity: 24%;
}
