tr,
th,
td {
  margin: 0;
  padding: 0;
}
th {
  border-right: solid 0.3em var(--color-border);
  text-align: right;
  padding: 0 0.2em 0 0;
  position: relative;
  transition: border-right-color 0.2s;
}
.changed > th {
  border-right-color: var(--color-attention);
}
.action-button {
  font-size: 1.1rem;
}

input[type="text"],
input[type="number"],
select,
.select-container {
  color: var(--color-text);
  border-radius: 10em;
  font-family: inherit;
  font-weight: bold;
}
input[type="text"],
input[type="number"] {
  background-color: var(--color-input);
  border: none;
  box-shadow: inset 0.1em 0.1em 0.4em black;
  font-size: 125%;
}
input[type="text"] {
  padding: 0.6em 1.2em;
}
input[type="number"] {
  text-align: right;
  padding: 0 0.6em;
  width: 4em;
}
input[type="color"] {
  cursor: pointer;
}
select,
option {
  cursor: pointer;
  font-size: 100%;
  text-align: center;
}

/* transform するとoptionがガタつくためアニメーションしない */
select {
  background-color: var(--color-text-background);
  /* selectに左右のpaddingを指定すると<option>の表示がおかしくなるため */
  border: solid transparent;
  border-width: 0.5em 1.1em 0.5em 1em;
  margin: 0;
  padding: 0;
}
.select-container {
  border: solid 0.1em #ffffff33;
  border-left-width: 0.2em;
  filter: drop-shadow(-0.25em 0 0.25em var(--color-drop-shadow))
    drop-shadow(0.25em 0.5em 0.5em var(--color-drop-shadow));
  position: relative;
}
.select-container::before {
  content: "";
  background-color: var(--color-button-overlay);
  border-radius: 10em;
  inset: -0.1em -0.1em -0.1em -0.2em;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.2s;
}
.select-container:hover::before {
  opacity: 16%;
}
.select-container:active::before {
  opacity: 24%;
}

option {
  background-color: var(--color-option-background);
  color: var(--color-text);
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}
