:root {
  --color-button-overlay: #ffffff;
  --color-drop-shadow: #ffffff22;
  --color-background: #242424;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-text-alternate: rgba(0, 0, 0, 0.87);
  --color-input: #00000080;
  --color-ability-text: #ff1111cc;
  --color-filled-button-default: #707e93;
  --color-attention: yellow;
  --color-border: #444444;

  --primary-color-r: 171;
  --primary-color-g: 205;
  --primary-color-b: 239;
  --primary-color-10: rgb(
    calc(var(--primary-color-r) / 5 * 1),
    calc(var(--primary-color-g) / 5 * 1),
    calc(var(--primary-color-b) / 5 * 1)
  );
  --primary-color-20: rgb(
    calc(var(--primary-color-r) / 5 * 2),
    calc(var(--primary-color-g) / 5 * 2),
    calc(var(--primary-color-b) / 5 * 2)
  );
  --primary-color-30: rgb(
    calc(var(--primary-color-r) / 5 * 3),
    calc(var(--primary-color-g) / 5 * 3),
    calc(var(--primary-color-b) / 5 * 3)
  );
  --primary-color-40: rgb(
    calc(var(--primary-color-r) / 5 * 4),
    calc(var(--primary-color-g) / 5 * 4),
    calc(var(--primary-color-b) / 5 * 4)
  );
  --primary-color-50: rgb(
    var(--primary-color-r),
    var(--primary-color-g),
    var(--primary-color-b)
  );
  --primary-color-60: rgb(
    calc(var(--primary-color-r) + (255 - var(--primary-color-r)) / 5 * 1),
    calc(var(--primary-color-g) + (255 - var(--primary-color-g)) / 5 * 1),
    calc(var(--primary-color-b) + (255 - var(--primary-color-b)) / 5 * 1)
  );
  --primary-color-70: rgb(
    calc(var(--primary-color-r) + (255 - var(--primary-color-r)) / 5 * 2),
    calc(var(--primary-color-g) + (255 - var(--primary-color-g)) / 5 * 2),
    calc(var(--primary-color-b) + (255 - var(--primary-color-b)) / 5 * 2)
  );
  --primary-color-80: rgb(
    calc(var(--primary-color-r) + (255 - var(--primary-color-r)) / 5 * 3),
    calc(var(--primary-color-g) + (255 - var(--primary-color-g)) / 5 * 3),
    calc(var(--primary-color-b) + (255 - var(--primary-color-b)) / 5 * 3)
  );
  --primary-color-90: rgb(
    calc(var(--primary-color-r) + (255 - var(--primary-color-r)) / 5 * 4),
    calc(var(--primary-color-g) + (255 - var(--primary-color-g)) / 5 * 4),
    calc(var(--primary-color-b) + (255 - var(--primary-color-b)) / 5 * 4)
  );

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

@media (width <= 768px) {
  html {
    font-size: 1.6vw;
  }
}

body {
  height: 100%;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.relative {
  position: relative;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

.text-xs {
  font-size: 50%;
}
.text-left {
  text-align: left;
}

.flex {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.grid {
  display: grid;
}
.items-baseline {
  align-items: baseline;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-start {
  align-items: flex-start;
}
.self-end {
  align-self: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-self-start {
  justify-self: flex-start;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
