:root {
  --color-primary: hsl(147, 70%, 71%);
  --color-primary-10: color-mix(in srgb, var(--color-primary) 20%, black);
  --color-primary-20: color-mix(in srgb, var(--color-primary) 40%, black);
  --color-primary-30: color-mix(in srgb, var(--color-primary) 60%, black);
  --color-primary-40: color-mix(in srgb, var(--color-primary) 80%, black);
  --color-primary-50: var(--color-primary);
  --color-primary-60: color-mix(in srgb, var(--color-primary) 80%, white);
  --color-primary-70: color-mix(in srgb, var(--color-primary) 60%, white);
  --color-primary-80: color-mix(in srgb, var(--color-primary) 40%, white);
  --color-primary-90: color-mix(in srgb, var(--color-primary) 20%, white);
  --color-secondary: hsl(0, 100%, 76%);
  --color-secondary-10: color-mix(in srgb, var(--color-secondary) 20%, black);
  --color-secondary-20: color-mix(in srgb, var(--color-secondary) 40%, black);
  --color-secondary-30: color-mix(in srgb, var(--color-secondary) 60%, black);
  --color-secondary-40: color-mix(in srgb, var(--color-secondary) 80%, black);
  --color-secondary-50: var(--color-secondary);
  --color-secondary-60: color-mix(in srgb, var(--color-secondary) 80%, white);
  --color-secondary-70: color-mix(in srgb, var(--color-secondary) 60%, white);
  --color-secondary-80: color-mix(in srgb, var(--color-secondary) 40%, white);
  --color-secondary-90: color-mix(in srgb, var(--color-secondary) 20%, white);
  --color-secondary-97: color-mix(in srgb, var(--color-secondary) 6%, white);

  --color-background: #242424;
  --color-text: rgb(255 255 255 / 0.87);

  --color-attention: var(--color-secondary-70);
  --color-button-overlay: #ffffff;
  --color-card-border: var(--color-primary-90);
  --color-drop-shadow: #ffffff22;
  --color-fab-background: var(--color-secondary-70);
  --color-fab-text: var(--color-background);
  --color-filled-button-default: var(--color-secondary-20);
  --color-input: #00000080;
  --color-range-slider-caption-background: var(--color-primary-30);
  --color-text-background: var(--color-background);
  --color-option-background: var(--color-primary-10);

  /* モードによらず固定 */
  --color-border: rgb(255 255 255 / 0.16);
  --color-ability-text: #ff1111cc;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--color-primary-70);
    --color-text: rgb(0 0 0 / 0.87);

    --color-attention: var(--color-secondary-70);
    --color-button-overlay: #00000055;
    --color-card-border: var(--color-secondary-80);
    --color-drop-shadow: #00000022;
    --color-fab-background: var(--color-secondary-80);
    --color-fab-text: var(--color-text);
    --color-filled-button-default: var(--color-secondary-70);
    --color-input: #ffffff80;
    --color-range-slider-caption-background: var(--color-primary-90);
    --color-text-background: var(--color-secondary-97);
    --color-option-background: var(--color-secondary-80);
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

@media (width <= 768px) {
  html {
    font-size: 1.6vw;
  }
}

body {
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: inherit;
}

.relative {
  position: relative;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

.text-xs {
  font-size: 50%;
}
.text-left {
  text-align: left;
}

.flex {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.grid {
  display: grid;
}
.items-baseline {
  align-items: baseline;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-start {
  align-items: flex-start;
}
.self-end {
  align-self: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-self-start {
  justify-self: flex-start;
}
